#EXAMPLE for the .env file. Replace these fields with the Supabase URL and Secret key when running on the actual server
SUPABASE_URL = your_supabase_url
SUPABASE_SECRET_KEY = your_supabase_secret_key
